<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="utf-8">
    <title>Java + Spring Framework + Bootstrap</title>
    <link href="/resources/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/resources/css/site.css" rel="stylesheet" />
</head>
<body>

<!-- Navigation -->
<div class="container">
    <h2 class="text-center alert-secondary">
        <p th:text="${header}"/>
    </h2>
    <div class="row">
        <div class="col-3">&nbsp;</div>
        <div class="card card-outline-primary text-center border-primary col-6 pad">
            <div class="card-header bg-faded bg-primary text-white">
                <span th:text="${addRecord}"/>
            </div>
            <div class="card-body">
                <form th:action="@{/adaSaveRecord}" th:method="post" th:object="${phoneBook}">
                    <input type="hidden" name="id" th:field="*{phoneBookID}" />
                    Last name <input th:field="*{lastName}" class="form-control"/>
                    <br/>
                    First name <input th:field="*{firstName}" class="form-control"/>
                    <br/>
                    Third name <input th:field="*{threeName}" class="form-control"/>
                    <br/>
                    Phone number <input th:field="*{numberPhone}" class="form-control"/>
                    <br/>
                    Address <input th:field="*{address}" class="form-control"/>
                    <br/>
                    Description <input th:field="*{description}" class="form-control"/>
                    <br/>
                    <input type="submit" class="d-inline-flex btn btn-block btn-primary" th:value="${addRecord}"/>
                </form>
            </div>
        </div>
        <div class="col-3">&nbsp;</div>
    </div>
</div>
<script src="/resources/lib/jquery/dist/jquery.min.js"/>
<script src="/resources/lib/bootstrap/dist/js/bootstrap.bundle.min.js"/>
<script src="/resources/js/site.js"/>
</body>
</html>

